{% extends 'main/header.html' %}
{% load static %}
{% block title %}Мои рецепты{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
	<link rel="stylesheet" href="{% static 'userprofile/css/profile.css' %}">
{% endblock %}
{% block content %}
	<div class="background">
		<div class="background-cover"></div>
	</div>
	<div class="page-recipe">
		{% include 'userprofile/general/profile_navbar.html' %}
		<div class="col-sm-10">
			<button type="button" class="btn add-button scaled">
				<a href="{% url 'create_recipe' %}">Добавить рецепт</a></button>
			{% include 'main/pagination.html' %}
			<div class="recipe-wrapper">
				{% for recipe in page %}
					{% include 'recipes/recipe_card.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}