{% extends 'main/common/header.html' %}
{% load static %}
{% block title %}Новый рецепт{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
	<link rel="stylesheet" href="{% static 'recipes/css/new_recipe.css' %}">
{% endblock %}
{% block content %}
	<form method="post" action="" enctype="multipart/form-data" accept-charset="utf-8">
		{% csrf_token %}
		<fieldset class="form-group">
			<div class="wrapper col-sm-9" style="margin: auto;">
				<div class="form-group row">
					<label for="{{ form.title.id_for_label }}" class="col-sm-4 col-form-label">Название: </label>
					<div class="col-sm-8">
						{{ form.title }}
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.cooking_time.id_for_label }}" class="col-sm-4 col-form-label">
						Время приготовления, мин: </label>
					<div class="col-sm-8">
						{{ form.cooking_time }}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-4 bold">Категории:</div>
					<div class="col-sm-8 row" style="margin: 0;">
						{% for category in form.categories %}
							<div class="form-check col-sm-6">
								{{ category }}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-4 bold">Ингредиенты:</div>
					<div class="col-sm-8" id="ingredients-list">
						{{ formset.management_form }}
						{% for form in formset %}
							<div class="row form-row spacer ing-option">
								{{ form.product }}
								{{ form.quantity }}
								{{ form.unit }}
								<button class="btn btn-primary col-sm-1 ing-button add-form-row">
									+
								</button>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.image.id_for_label }}" class="col-sm-4 bold">Фото рецепта:</label>
					<div class="col-sm-8">
						{{ form.image }}
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.text.id_for_label }}" class="col-sm-4 bold">Описание рецепта:</label>
					{{ form.text }}
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-primary"
					        style="background-color:#114630 !important; border: #114630 !important;">
						Добавить
					</button>
					<button onclick="history.back();" class="btn back-btn">Вернуться к рецептам</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
{% block js %}
	<script src="{% static 'recipes/js/addRow.js' %}"></script>
{% endblock %}