{% extends 'main/common/header.html' %}
{% load static %}
{% block title %}{% if article %} Редактировать рецепт{% else%} Добавить рецепт {% endif %}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
	<link rel="stylesheet" href="{% static 'recipes/css/new_recipe.css' %}">
{% endblock %}
{% block content %}
	<form method="post" action="" enctype="multipart/form-data" accept-charset="utf-8">
		{% csrf_token %}
		<fieldset class="form-group">
			<div class="wrapper col-sm-9" style="margin: auto;">
				<div class="form-group row">
					<label for="{{ form.title.id_for_label }}" class="col-sm-4 col-form-label">Название: </label>
					<div class="col-sm-8">
						<input class="form-control" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}"
						       value="{{ recipe.title }}"
						       placeholder="Например, оладьи" required>
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.cooking_time.id_for_label }}" class="col-sm-4 col-form-label">
						Время приготовления, мин: </label>
					<div class="col-sm-8">
						<input type="number" class="form-control" id="{{ form.cooking_time.id_for_label }}"
						       name="{{ form.cooking_time.name }}"
						       placeholder="Например, 30" value="{{ recipe.cooking_time }}"
						       required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-4 bold">Категории:</div>
					<div class="col-sm-8 row" style="margin: 0;">
						{% for category in form.categories %}
							<div class="form-check col-sm-6">
								<input class="form-check-input" type="checkbox" name="{{ form.categories.name }}"
								       value="{{ category.data.value }}"
								       id="{{ category.id_for_label }}"
								       {% if category.choice_label in category_names %}checked{% endif %}>
								<label class="form-check-label" for="{{ category.id_for_label }}">
									{{ category.choice_label }}
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-4 bold">Ингредиенты:</div>
					<div class="col-sm-8" id="ingredients-list">
						{{ formset.management_form }}
						{% for form in formset %}
							{{ form.id }}
							<div class="row form-row spacer ing-option">
								{{ form.product }}
								{{ form.quantity }}
								{{ form.unit }}
								{% if forloop.revcounter == 2 %}
									<button class="btn btn-primary col-sm-1 ing-button add-form-row">
										+
									</button>
								{% else %}
									<button class="btn btn-secondary col-sm-1 ing-button remove-form-row">
										-
									</button>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.image.id_for_label }}" class="col-sm-4 bold">Фото рецепта:</label>
					<div class="col-sm-8">
						{{ form.image }}
						<img src="{{ recipe.image.url }}" class="modal-img">
					</div>
				</div>
				<div class="form-group row">
					<label for="{{ form.text.id_for_label }}" class="col-sm-4 bold">Описание рецепта:</label>
					<textarea class="form-control col-sm-8" name="{{ form.text.name }}"
					          id="{{ form.text.id_for_label }}" rows="5"
					          required>{{ recipe.text }}</textarea>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-primary"
					        style="background-color:#114630 !important; border: #114630 !important;">
						Сохранить
					</button>
					<button onclick="history.back();" class="btn back-btn">Вернуться к рецептам</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
{% block js %}
	<script src="{% static 'recipes/js/addRow.js' %}"></script>
{% endblock %}