{% extends 'main/header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../../static/recipes/css/recipes.css">
{% endblock %}
{% block content %}
	<div class="background">
		<div class="background-cover"></div>
	</div>
	<div class="page-recipe">
		<div class="categories col-sm-2">
			<ul class="list-group">
				{% for cat in categories %}
					<li class="list-group-item"><a href=""
					                               style="color: white !important; text-decoration: none !important;"> {{ cat.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-10">
			<button type="button" class="btn add-button">
				<a href="">Добавить рецепт</a></button>
			{% include 'main/pagination.html' %}
			<div class="recipe-wrapper">
				{% for recipe in page %}
					{% include 'recipes/recipe_card.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}