{% block content %}
	<div class="card">
		<img src="{{ recipe.image.url }}" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{ recipe.title }}
			</h5>
			<h6 class="card-title">{{ recipe.author.username }}</h6>
			<h6 class="card-title">{{ recipe.cooking_time }} минут</h6>
		</div>
		<div class="card-body">
			{% if my_recipes %}
				<button type="button" class="btn scaled" onclick="">
					<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="black"
					     class="bi bi-trash" viewBox="0 0 16 16">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
						<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
					</svg>
				</button>
			{% endif %}
			<button type="button" class="btn btn-primary scaled" data-toggle="modal"
			        data-target="#{{ recipe.id }}">
				Посмотреть рецепт
			</button>
			{% if my_recipes %}
				<button type="button" class="btn scaled" onclick="">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
					     class="bi bi-pencil" viewBox="0 0 16 16">
						<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
					</svg>
				</button>
			{% endif %}
		</div>
		<div class="modal fade" id="{{ recipe.id }}" tabindex="-1" role="dialog"
		     aria-labelledby="{{ recipe.id }}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="${recipe.id}">{{ recipe.title }}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src="{{ recipe.image.url }}" class="modal-img">
						<div class="general-info">
							<table class="table">
								<thead>
								<tr>
									<th scope="col" class="col-md-3">К</th>
									<th scope="col" class="col-md-3">Б</th>
									<th scope="col" class="col-md-3">Ж</th>
									<th scope="col" class="col-md-3">У</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									{% for key, value in recipe.kbju_per_100_grams.items %}
										<td>{{ value }}</td>
									{% endfor %}
								</tr>
								</tbody>
							</table>
							<div class="author">Автор: {{ recipe.author.username }}
							</div>
							<div class="cooking-time">Время
							                          приготовления: {{ recipe.cooking_time }} минут
							</div>
							<div class="recipe-category" style="display: inline">
								Категории:
							</div>
							{% for cat in recipe.categories.all %}
								<div class="category" style="display: inline">{{ cat.name|lower }}
									{% if forloop.counter != recipe.categories.count %}
										, {% endif %}</div>
							{% endfor %}
						</div>
						<table class="table">
							<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col" class="col-md-7">Ингредиент</th>
								<th scope="col" class="col-md-2">Количество</th>
								<th scope="col" class="col-md-3">Мера измерения</th>
							</tr>
							</thead>
							<tbody>
							{% for i in recipe.ingredient_amount.all %}
								<tr>
									<th scope="row">{{ forloop.count }}
									</th>
									<td>{{ i.product.name }}
									</td>
									<td style="text-align: center;">{{ i.quantity }}
									</td>
									<td style="text-align: center;">{{ i.unit }}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<h5 style="text-align: center; margin-top: 3%">Рецепт</h5>
						<div id="recipe-text${recipe.id}" class="recipe-text">
							{{ recipe.text }}<br>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}