{% extends 'main/common/header.html' %}
{% load static %}
{% block title %}Модерация рецептов{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'recipes/css/recipes.css' %}">
	<link rel="stylesheet" href="{% static 'userprofile/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'userprofile/css/admin.css' %}">
{% endblock %}
{% block content %}
	<body>
	<div class="background">
		<div class="background-cover"></div>
	</div>
	<div class="wrapper row">
		{% include 'userprofile/admin/admin_navbar.html' %}
		<div class="col-sm-10 us">
			<h3 class="header">На модерации</h3>
			{% include 'main/common/pagination.html' %}
			<div class="recipe-wrapper">
				{% for recipe in page %}
					{% include 'recipes/recipe_card.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}