{% extends 'main/header.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../../static/main/css/article_detail.css">
{% endblock %}
{% block content %}
	<div class="background">
		<div class="background-cover"></div>
	</div>
	<button onclick="history.back();" class="btn btn-primary back-btn">
		&#8592; Назад
	</button>
	<div class="article-wrapper">
		<h3 id="article-title">{{ article.title }}</h3>
		<div class="author">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill"
			     viewBox="0 0 16 16">
				<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
			</svg>
			<h6 id="article-author">{{ article.author }}</h6>
		</div>
		<div id="article-categories">
			<h6>
				{% for cat in article.categories.all %}
					<div class="category" style="display: inline">{{ cat.name }}</div><br>
				{% endfor %}
			</h6>
		</div>
		<div id="article-text">
			{{ article.full_text }}
		</div>
	</div>
{% endblock %}