{% extends 'main/header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block content %}
	<div class="background">
		<div class="background-cover"></div>
	</div>
	<div style="display: flex">
		{% include 'main/calculator.html' %}
		<div class="articles-wrapper col-sm-5">
			{% for article in page %}
				<div class="art-back scaled">
					<div class="article">
						<h3 class="title">
							<a href="{% url 'article details' article.id article.slug %}">{{ article.title }}</a></h3>
						{% for cat in article.categories.all %}
							<div class="category" style="display: inline">{{ cat.name }}
							</div>
						{% endfor %}
						<h6 class="article-text">
							{{ article.full_text }}
						</h6>
					</div>
				</div>
			{% endfor %}
			{% include 'main/pagination.html' %}
		</div>
	</div>
{% endblock %}