{% extends 'main/header.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="background">
    <div class="background-cover"></div>
</div>
<div style="display: flex">
    {% include 'main/calculator.html'%}

{% comment %}     <%
        ArrayList<Article> articles = new ObjectMapper().readValue(request.getAttribute("articles").toString(),
                new TypeReference<ArrayList<Article>>() {
                });
        request.setAttribute("articles", articles);
    %> {% endcomment %}
    <div class="articles-wrapper col-sm-5">
{% comment %}         <c:forEach items="${articles}" var="article" varStatus="loop">
            <div class="art-back scaled">
                <div class="article">
                    <h3 class="title"><a href="/article/${article.id}">${article.title}
                    </a>
                    </h3>
                    <c:forEach items="${article.categories}" var="cat" varStatus="loop">

                        <div class="category" style="display: inline">${cat.name.toLowerCase()}
                        </div>
                    </c:forEach>
                    <h6 class="article-text">${article.fulltext}
                    </h6>
                </div>
            </div>
        </c:forEach> {% endcomment %}
        <nav>
            <ul class="pagination justify-content-center">
{% comment %}                 <c:if test="${cur_page>1}">
                    <li class="page-item">
                        <a class="page-link" href="${cur_page-1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                </c:if>
                <c:forEach begin="1" end="${page_cnt}" varStatus="i">
                    <li class="page-item"><a class="page-link" href="${i.count}">${i.count}
                    </a></li>
                </c:forEach>
                <c:if test="${cur_page < page_cnt}">

                    <li class="page-item">
                        <a class="page-link" href="${cur_page+1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </c:if> {% endcomment %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}