{% extends 'main/common/header.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block head %}
	<style>
        .form-wrapper {
            width: 650px;
            margin: 3% auto 0 auto;
            position: relative;
            padding: 2% 3%;
            background-color: #114630;
            color: white;
            border-radius: 10px;
        }
	</style>
{% endblock %}
{% block content %}
<div class="background">
    <div class="background-cover"></div>
</div>
<div>
    <div class="form-wrapper">
        <form method="POST" action="{% url 'login' %}">
	        {% csrf_token %}
            <fieldset class="form-group">
                <h4>Вход</h4>
                <div class="form-group row">
                    <label for="{{ log_form.username.id_for_label }}" class="col-sm-4">
	                    {{ log_form.username.label }}</label>
	                {{ log_form.username }}
                </div>
                <div class="form-group row">
                    <label for="{{ log_form.password.id_for_label }}" class="col-sm-4">
	                    {{ log_form.password.label }}</label>
	                {{ log_form.password }}
                </div>
            </fieldset>
            <div style="display: flex; justify-content: flex-end;">
                <button type="submit" class="btn btn-primary btn-black scaled">Войти</button>
            </div>
	        {{ log_form.non_field_errors }}
        </form>
        <form method="POST" action="{% url 'register' %}">
	        {% csrf_token %}
            <fieldset class="form-group">
                <h4>Регистрация</h4>
                <div class="form-group row">
                    <label for="{{ reg_form.username.id_for_label }}" class="col-sm-4">
	                    {{ reg_form.username.label }}</label>
	                {{ reg_form.username }}
                </div>
                <div class="form-group row">
                    <label for="{{ reg_form.password1.id_for_label }}" class="col-sm-4">
	                    {{ reg_form.password1.label }}</label>
	                {{ reg_form.password1 }}
                </div>
                <div class="form-group row">
                    <label for="{{ reg_form.password2.id_for_label }}" class="col-sm-4">
	                    {{ reg_form.password2.label }}</label>
	                {{ reg_form.password2 }}
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <button type="submit" class="btn btn-primary btn-black scaled">Зарегистрироваться</button>
                </div>
            </fieldset>
	         {{ reg_form.non_field_errors }}
        </form>
    </div>
</div>
{% endblock %}