{% block content %}
	<div class="modal fade" id="editMeal{{ meal.id }}" tabindex="-1" role="dialog"
	     aria-labelledby="exampleModalCenterTitle"
	     aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" action="" accept-charset="utf-8">
					<div class="modal-header">
						<input class="modal-title" name="title" placeholder="Название приёма пищи"
						       value="{{ meal.name }}">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ meal.edit_form.management_form }}
						{{ meal.edit_formset.management_form }}
						{% for form in meal.edit_formset %}
								<div class="row form-row spacer prod-option">
									{{ form.product }}
									{{ form.quantity }}
									{{ form.unit }}
									{% if forloop.last %}
										<button class="btn btn-primary col-sm-1 ing-button add-form-row">+</button>
									{% else %}
										<button class="btn btn-danger col-sm-1 ing-button remove-form-row">-</button>
									{% endif %}
								</div>
						{% endfor %}
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Сохранить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}