{% block content %}
	<div class="modal fade" id="editMeal{{ meal.id }}" tabindex="-1" role="dialog"
	     aria-labelledby="exampleModalCenterTitle"
	     aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'edit meal' date.year date.month date.day meal.id %}"
				      accept-charset="utf-8">
					{% csrf_token %}
					<div class="modal-header">
						<input class="modal-title" name="title" placeholder="Название приёма пищи"
						       value="{{ meal.name }}">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ meal.edit_formset.management_form }}
						{% for form in meal.edit_formset %}
							<div class="row form-row-meal_{{ meal.id }} spacer prod-option">
								{{ form.product }}
								{{ form.quantity }}
								{{ form.unit }}
								{% if forloop.last %}
									<button onclick="AddFormRowClick('.form-row-meal_{{ meal.id }}:last',
											'meal_{{ meal.id }}')"
									        class="btn col-sm-1 ing-button btn-primary add-form-row-meal_{{ meal.id }}">
										+
									</button>
								{% else %}
									<button onclick="DeleteFormRowClick(this,
											'meal_{{ meal.id }}')"
									        class="btn col-sm-1 ing-button btn-secondary remove-form-row-meal_{{ meal.id }}">
										-
									</button>
								{% endif %}
							</div>
						{% endfor %}

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Сохранить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}