{% block content %}
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
	     aria-labelledby="exampleModalCenterTitle"
	     aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" action="{% url 'create meal' date.year date.month date.day %}"
				      accept-charset="utf-8">
					{% csrf_token %}
					<div class="modal-header">
						{{ create_form.name }}
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{ create_formset.management_form }}
						{% for form in create_formset %}
							<div class="row form-row spacer prod-option">
								{{ form.product }}
								{{ form.quantity }}
								{{ form.unit }}
								<button class="btn btn-primary col-sm-1 ing-button create-add-form-row">
									+
								</button>
							</div>
						{% endfor %}
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Добавить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}