.wrapper {
    background-color: #fff;
    opacity: 0.95;
    margin: 3% 12.5% !important;
    padding: 2% !important;
    border-radius: 10px;
}

.ing-button {
    background-color: #114630;
    color: white;
    border-radius: 5px;
}

.col-form-label, .bold {
    font-weight: bold !important;
}

.btn.btn-primary {
    margin-right: 5px;
}

.ing-option {
    width: 100%;
    justify-content: space-between;
}

.ing-option select, .ing-option input, .ing-option button {
    margin: 0 auto !important;
}

.back-btn {
    background-color: #00000000 !important;
    border: solid 2px #114630 !important;
    color: #114630 !important;
}

.back-btn a {
    color: #114630 !important;
}

.back-btn a:hover {
    color: #114630 !important;
    text-decoration: none !important;
}